@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    @theme {
        --color-graybg: #302f31;
        --color-item: #474347;
        --color-highlighted: #545357;
        --color-pop: #f96d5c;
        --color-pophover: #ff8678;
        --color-lightborder: #515c65;
    }
}

.dark .react-flow__pane {
    background-color: #302f31;
}